{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for paragraph in content %}
    <p>{{ paragraph }}</p>
    {% endfor %}
    {% include('/default/_widget.html.twig') %}
{% endblock %}