<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/assets/styles/styles.css') }}">
    </head>
    <body>

        {% include('/partials/_menu.html.twig') %}

        <main class="main">
            <section class="main_content">
                <h1>{{ title }}</h1>
                {% block body %}{% endblock %}
            </section>
            
            <section class="main_widget">
                {% include('/partials/_widget.html.twig') %}
            </section>
        </main>

        {% block javascripts %}{% endblock %}

    </body>
</html>
